streamlit==1.24.0
numpy==1.26.4
opencv-python-headless==4.10.0.84
pytesseract==0.3.10
PyMuPDF==1.24.9
scikit-learn==1.5.1
pandas==2.0.3
torch==2.4.0
transformers==4.43.3
requests==2.32.3
langchain-huggingface==0.0.3
